#modal-background{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2
}

#modal{
  position: absolute;
  top: 20vh;
  left: calc(50vw - 450px);
  width: 450px;
  height: 150px;
  background-color: white;
  z-index: 3
}
